:root {
  --primary-color: #bbb9b9d8;
  --secondary-color: #ece7ec52;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
  font-size: larger;
  margin-top: 70px;
}
h2 {
  text-align: center;
  font-size: larger;
  margin-top: 5px;
}
h3 {
  text-align: center;
  opacity: 0.5;
  font-size: large;
}
p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 576px) {
  .img-fluid {
    display: none;
  }
}

.info-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.info-links a {
  margin: 20px;
}
.launch-links {
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #9c9c9ce7;
}
.about {
  border: 1px solid #9c9c9c42;
  border-radius: 5px;
  padding: 20px;
  background: #e6e6e6;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  color: black;
}
.contact {
  border: 1px solid #9c9c9c42;
  border-radius: 5px;
  padding: 20px;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  color: black;
}

.homepage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.mailing {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  margin-top: 70px;
}
